<div class="panel panel-success form-group">
  <div class="panel-heading">
    <label for="new-title">Title of New Post</label>
    <input class="form-control" type="text" name="new-title" id="new-title" (input)="newTitle = $event.target.value" [value]="newTitle">
  </div>
  <div class="panel-body">
    <label for="new-topic">What topic is your post about?</label>
    <input class="form-control" type="text" name="new-topic" id="new-topic" (input)="newTopic = $event.target.value" [value]="newTopic">
    <label for="new-text">Type your post here</label>
    <input class="form-control" type="textarea" rows="5" cols="50" name="new-text" id="new-text" (input)="newText = $event.target.value" [value]="newText">
    <label for="new-author">Who are you?</label>
    <input class="form-control" type="text" name="new-author" id="new-author" (input)="newAuthor = $event.target.value" [value]="newAuthor">
  </div>
  <button type="button" (click)="clickedSaveButton()">Publish Post</button>
</div>
